ion-card {
    width: 300px;
    height: 500px;
    margin: 50px auto;
    background-color: #2f0656;
    border: 2px solid red;
    border-radius: 40px;
 }

ion-content{
   --background:linear-gradient(90deg, #b993d6, #8ca6db);
}

 ion-card-subtitle{
    color:white
 }

 ion-card-title{
    color: white
 }

 .objSlide{
    height: 375px;
 }